main {
  max-width: 100%;
  margin: 0 15rem;

  @media screen and (max-width: 1020px) {
    margin: 0 8rem;
  }

  @media screen and (max-width: 480px) {
    margin: 0 1.5rem;
  }
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
  margin: auto;
  display: flex;
  counter-reset: title;
}
